<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aktt.news">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

  <!-- mob sdk start-->
  <!--<uses-permission android:name="android.permission.READ_CONTACTS" />-->
  <!--<uses-permission android:name="android.permission.READ_PHONE_STATE" />-->
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.INTERNET" />
  <!--<uses-permission android:name="android.permission.RECEIVE_SMS" />-->
  <!--<uses-permission android:name="android.permission.READ_SMS" />-->
  <uses-permission android:name="android.permission.GET_TASKS" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <!-- mob sdk end-->

  <application
      android:name="com.aktt.news.ILookApplication"
      android:allowBackup="true"
      android:icon="@mipmap/ilook_icon"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme"
      tools:replace="android:theme,android:label">

    <provider
        android:name="android.support.v4.content.FileProvider"
        android:authorities="${applicationId}.file.provider"
        android:exported="false"
        android:grantUriPermissions="true">

      <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/boxing_file_provider" />

    </provider>

    <!-- mob sdk start -->
    <activity
        android:name="com.mob.tools.MobUIShell"
        android:configChanges="keyboardHidden|orientation|screenSize"
        android:theme="@android:style/Theme.Translucent.NoTitleBar"
        android:windowSoftInputMode="stateHidden|adjustResize" />

    <meta-data
        android:name="Mob-AppKey"
        android:value="1cfaed1555e5c" />
    <meta-data
        android:name="Mob-AppSecret"
        android:value="122f10107e17dc0528f5a81045f2295b" />
    <!-- mob sdk end -->

    <activity
        android:name="com.aktt.news.module.login.SplashActivity"
        android:theme="@style/SplashActivityTheme">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
        android:name="com.aktt.news.MainActivity"
        android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
        android:exported="false"
        android:screenOrientation="portrait"
        android:theme="@style/text_style_normal" />
    <activity
        android:name="com.aktt.news.module.home.activity.NotifyActivity"
        android:screenOrientation="portrait"
        android:theme="@style/SimpleActivityTheme" />
    <activity
        android:name="com.aktt.news.module.user.activity.FeedBackActivity"
        android:screenOrientation="portrait"
        android:theme="@style/SimpleActivityTheme" />
    <activity
        android:name="com.aktt.news.module.video.activity.VideoDetailActivity"
        android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize"
        android:screenOrientation="portrait"
        android:theme="@style/SimpleActivityTheme" />
    <activity
        android:name="com.aktt.news.module.user.activity.SettingActivity"
        android:screenOrientation="portrait"
        android:theme="@style/SimpleActivityTheme" />
    <activity
        android:name="com.aktt.news.module.login.LoginActivity"
        android:screenOrientation="portrait"
        android:theme="@style/SimpleActivityTheme" />
    <activity
        android:name="com.aktt.news.module.user.activity.ProfileActivity"
        android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
        android:screenOrientation="portrait"
        android:theme="@style/SimpleActivityTheme" />
    <activity
        android:name="com.aktt.news.module.user.activity.BrokeActivity"
        android:screenOrientation="portrait"
        android:theme="@style/SimpleActivityTheme" />
    <activity
        android:name="com.aktt.news.module.search.SearchActivity"
        android:screenOrientation="portrait"
        android:theme="@style/SimpleActivityTheme" />
    <activity
        android:name="com.aktt.news.module.user.activity.UserCenterActivity"
        android:screenOrientation="portrait"
        android:theme="@style/SimpleActivityTheme" />
    <activity
        android:name="com.aktt.news.module.home.activity.NewsPhotoDetailActivity"
        android:screenOrientation="portrait"
        android:theme="@style/SimpleActivityTheme" />
    <activity
        android:name="com.aktt.news.module.home.activity.NewsDetailActivity"
        android:screenOrientation="portrait"
        android:theme="@style/SimpleActivityTheme" />
    <activity
        android:name="com.aktt.news.module.login.RegisterActivity"
        android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
        android:screenOrientation="portrait"
        android:theme="@style/SimpleActivityTheme" />
    <activity
        android:name="com.aktt.news.module.focus.AddFollowListActivity"
        android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
        android:screenOrientation="portrait"
        android:theme="@style/SimpleActivityTheme" />
    <activity
        android:name="com.aktt.news.SimpleWebActivity"
        android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
        android:screenOrientation="portrait"
        android:theme="@style/SimpleActivityTheme" />
    <activity
        android:name="com.aktt.news.module.search.SearchDetailActivity"
        android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
        android:screenOrientation="portrait"
        android:theme="@style/SimpleActivityTheme" />
    <activity
        android:name="com.aktt.news.module.home.activity.CommentActivity"
        android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
        android:screenOrientation="portrait"
        android:theme="@style/SimpleActivityTheme" />
    <activity
        android:name="com.aktt.news.module.share.ShareBoardActivity"
        android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
        android:screenOrientation="portrait"
        android:theme="@style/ThemeDialog.BottomWithAnim" />
    <activity
        android:name="com.aktt.news.module.user.activity.CollectionActivity"
        android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
        android:screenOrientation="portrait"
        android:theme="@style/SimpleActivityTheme" />
    <activity
        android:name="com.aktt.news.module.user.activity.ImageBrowseActivity"
        android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
        android:exported="false"
        android:screenOrientation="portrait"
        android:theme="@style/SimpleActivityTheme" />
  </application>

</manifest>