<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.chaoneng.ilooknews">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

  <application
      android:name=".ILookApplication"
      android:allowBackup="true"
      android:icon="@mipmap/ic_logo"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme"
      tools:replace="android:theme,android:label">

    <provider
        android:name="android.support.v4.content.FileProvider"
        android:authorities="${applicationId}.file.provider"
        android:exported="false"
        android:grantUriPermissions="true">

      <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/boxing_file_provider" />

    </provider>

    <activity
        android:name=".module.login.SplashActivity"
        android:theme="@style/SplashActivityTheme">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
        android:name=".MainActivity"
        android:screenOrientation="portrait"
        android:exported="false"
        android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
        android:theme="@style/SimpleActivityTheme" />
    <activity
        android:name=".module.home.activity.NotifyActivity"
        android:screenOrientation="portrait"
        android:theme="@style/SimpleActivityTheme" />
    <activity
        android:name=".module.user.activity.FeedBackActivity"
        android:screenOrientation="portrait"
        android:theme="@style/SimpleActivityTheme" />
    <activity
        android:name=".module.video.activity.VideoDetailActivity"
        android:screenOrientation="portrait"
        android:theme="@style/SimpleActivityTheme" />
    <activity
        android:name=".module.user.activity.SettingActivity"
        android:screenOrientation="portrait"
        android:theme="@style/SimpleActivityTheme" />
    <activity
        android:name=".module.login.LoginActivity"
        android:screenOrientation="portrait"
        android:theme="@style/SimpleActivityTheme" />
    <activity
        android:name=".module.user.activity.ProfileActivity"
        android:screenOrientation="portrait"
        android:theme="@style/SimpleActivityTheme" />
    <activity
        android:name=".module.user.activity.BrokeActivity"
        android:screenOrientation="portrait"
        android:theme="@style/SimpleActivityTheme" />
    <activity
        android:name=".module.search.SearchActivity"
        android:screenOrientation="portrait"
        android:theme="@style/SimpleActivityTheme" />
    <activity
        android:name=".module.user.activity.UserCenterActivity"
        android:screenOrientation="portrait"
        android:theme="@style/SimpleActivityTheme" />
    <activity
        android:name=".module.home.activity.NewsPhotoDetailActivity"
        android:screenOrientation="portrait"
        android:theme="@style/SimpleActivityTheme" />
    <activity
        android:name=".module.home.activity.NewsDetailActivity"
        android:screenOrientation="portrait"
        android:theme="@style/SimpleActivityTheme" />
    <activity
        android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
        android:name=".module.login.RegisterActivity"
        android:screenOrientation="portrait"
        android:theme="@style/SimpleActivityTheme" />
  </application>

</manifest>